In [1]:
import pandas as pd
import numpy as np
import json
from pprint import pprint

### Continent

In [2]:
continent_time_df = pd.read_csv("continent_time.csv")
final_df = continent_time_df.pivot(index='year', columns='continent', values='suicide_per_100k')
final_df.columns = [x.lower() for x in final_df.columns]
final_df

         africa  americas       asia     europe    oceania
year
1985  11.906027  8.411448  16.625905  13.342412  12.502630
1986   3.035060  8.679407  17.109056  13.228170  13.781194
1987  14.748350  8.577009  14.558832  14.473337  14.518946
1988  18.054054  8.381337  16.259814  14.099868  14.460481
1989  15.435738  8.192324  15.229757  17.962710  13.582407
1990  15.620019  8.306893  12.546270  17.958387  14.060879
1991  14.603987  8.235838  12.148018  18.405614  14.379193
1992  15.395972  8.475721  10.593219  19.562506  14.090894
1993  14.400501  8.607668  11.787146  21.219423  12.650296
1994  13.260691  8.539309  12.478497  22.174499  14.071597
1995  14.970975  8.659771  13.666728  22.268462  13.446486
1996   0.763503  8.414452  15.137454  21.677342  14.487154
1997   0.571575  8.293681  13.220992  21.444723  15.477007
1998   0.832117  8.369781  16.040209  20.640434  15.290010
1999   1.106228  8.095737  15.503002  20.847456  14.128532
2000   0.970579  7.996760  14.949015  20.923362  13.238515
2001   1.188285  8.343141  15.605324  20.561256  13.328430
2002   0.865911  8.388080  14.947520  20.321341  12.429439
2003   0.807600  8.348179  15.866529  19.593160  11.642004
2004   1.099829  8.380145  17.899968  18.786614  11.259128
2005   1.262261  8.383371  18.001883  17.975188  11.698237
2006   1.413239  8.384753  15.029244  16.949094  11.235763
2007   1.201005  8.546275  14.941790  16.441632  11.206256
2008   1.177918  8.824925  15.296879  16.269808  11.665530
2009   1.048025  8.916098  13.202509  16.377926  11.362873
2010   1.047970  8.925722  12.889517  15.550214  11.870048
2011   1.000815  9.061345  12.884357  15.266494  11.352032
2012   1.241127  9.253331  14.110021  14.913275  12.091321
2013   1.404215  9.223605  14.137672  14.450049  12.129833
2014   1.403861  9.320996  13.394715  14.127937  13.184305
2015   1.165756  9.605718  13.427890  13.541602  13.610131

In [45]:
final_df.to_csv('reformatted_continent_time.csv')

### Gender

In [4]:
sex_time_df = pd.read_csv("sex_time.csv")
sex_time_df

    year     sex  suicide_per_100k
0   1985  Female          6.331435
1   1985    Male         16.866792
2   1986  Female          6.454567
3   1986    Male         17.176590
4   1987  Female          6.260196
5   1987    Male         17.138508
6   1988  Female          6.127736
7   1988    Male         17.079080
8   1989  Female          6.569136
9   1989    Male         19.950556
10  1990  Female          6.648342
11  1990    Male         20.097542
12  1991  Female          6.479864
13  1991    Male         20.492387
14  1992  Female          6.401769
15  1992    Male         20.930417
16  1993  Female          6.535707
17  1993    Male         22.849484
18  1994  Female          6.483389
19  1994    Male         23.948843
20  1995  Female          6.670028
21  1995    Male         24.410808
22  1996  Female          6.400868
23  1996    Male         23.735183
24  1997  Female          6.203806
25  1997    Male         22.469947
26  1998  Female          6.292064
27  1998    Male         23.062036
28  1999  Female          6.174628
29  1999    Male         23.085539
..   ...     ...               ...
32  2001  Female          5.891565
33  2001    Male         23.090540
34  2002  Female          5.951725
35  2002    Male         22.563002
36  2003  Female          5.905345
37  2003    Male         22.359875
38  2004  Female          5.948144
39  2004    Male         22.065901
40  2005  Female          5.855729
41  2005    Male         21.546337
42  2006  Female          5.525729
43  2006    Male         20.165920
44  2007  Female          5.608230
45  2007    Male         19.816726
46  2008  Female          5.676551
47  2008    Male         19.946261
48  2009  Female          5.454135
49  2009    Male         19.505351
50  2010  Female          5.329832
51  2010    Male         18.876740
52  2011  Female          5.372182
53  2011    Male         18.693198
54  2012  Female          5.418166
55  2012    Male         18.958211
56  2013  Female          5.327955
57  2013    Male         18.579914
58  2014  Female          5.283456
59  2014    Male         18.400374
60  2015  Female          5.204799
61  2015    Male         18.040784

[62 rows x 3 columns]

In [6]:
final_sex_df = sex_time_df.pivot(index='year', columns='sex', values='suicide_per_100k')
final_sex_df

sex     Female       Male
year
1985  6.331435  16.866792
1986  6.454567  17.176590
1987  6.260196  17.138508
1988  6.127736  17.079080
1989  6.569136  19.950556
1990  6.648342  20.097542
1991  6.479864  20.492387
1992  6.401769  20.930417
1993  6.535707  22.849484
1994  6.483389  23.948843
1995  6.670028  24.410808
1996  6.400868  23.735183
1997  6.203806  22.469947
1998  6.292064  23.062036
1999  6.174628  23.085539
2000  5.995861  22.853433
2001  5.891565  23.090540
2002  5.951725  22.563002
2003  5.905345  22.359875
2004  5.948144  22.065901
2005  5.855729  21.546337
2006  5.525729  20.165920
2007  5.608230  19.816726
2008  5.676551  19.946261
2009  5.454135  19.505351
2010  5.329832  18.876740
2011  5.372182  18.693198
2012  5.418166  18.958211
2013  5.327955  18.579914
2014  5.283456  18.400374
2015  5.204799  18.040784

In [8]:
final_sex_df.to_csv('reformatted_sex_time.csv')

### Age

In [5]:
age_time_df = pd.read_csv("age_time.csv")
age_time_df

     year    age  suicide_per_100k
0    1985   5-14          0.494039
1    1985  15-24          9.073091
2    1985  25-34         11.969983
3    1985  35-54         14.529562
4    1985  55-74         18.810908
5    1985    75+         29.826435
6    1986   5-14          0.465448
7    1986  15-24          9.066016
8    1986  25-34         12.306005
9    1986  35-54         14.809858
10   1986  55-74         19.006962
11   1986    75+         30.531590
12   1987   5-14          0.448842
13   1987  15-24          7.877723
14   1987  25-34         11.804420
15   1987  35-54         14.863977
16   1987  55-74         19.149579
17   1987    75+         30.465471
18   1988   5-14          0.428491
19   1988  15-24          7.823582
20   1988  25-34         11.725069
21   1988  35-54         14.506248
22   1988  55-74         18.309359
23   1988    75+         30.410258
24   1989   5-14          0.517231
25   1989  15-24          8.473720
26   1989  25-34         13.778850
27   1989  35-54         16.909772
28   1989  55-74         20.260196
29   1989    75+         31.530313
..    ...    ...               ...
156  2011   5-14          0.638920
157  2011  15-24          8.822589
158  2011  25-34         11.944701
159  2011  35-54         14.773439
160  2011  55-74         16.136756
161  2011    75+         20.642171
162  2012   5-14          0.644874
163  2012  15-24          8.907851
164  2012  25-34         12.071456
165  2012  35-54         14.772592
166  2012  55-74         15.999431
167  2012    75+         20.639505
168  2013   5-14          0.673440
169  2013  15-24          8.413749
170  2013  25-34         11.739850
171  2013  35-54         14.575592
172  2013  55-74         15.810103
173  2013    75+         20.174711
174  2014   5-14          0.703805
175  2014  15-24          8.379473
176  2014  25-34         11.745694
177  2014  35-54         14.260052
178  2014  55-74         15.440629
179  2014    75+         20.198257
180  2015   5-14          0.681570
181  2015  15-24          8.346640
182  2015  25-34         11.501514
183  2015  35-54         13.818191
184  2015  55-74         15.113683
185  2015    75+         19.830284

[186 rows x 3 columns]

In [14]:
final_age_df = age_time_df.pivot(index='year', columns='age', values='suicide_per_100k')
final_age_df

age       15-24      25-34      35-54      5-14      55-74        75+
year
1985   9.073091  11.969983  14.529562  0.494039  18.810908  29.826435
1986   9.066016  12.306005  14.809858  0.465448  19.006962  30.531590
1987   7.877723  11.804420  14.863977  0.448842  19.149579  30.465471
1988   7.823582  11.725069  14.506248  0.428491  18.309359  30.410258
1989   8.473720  13.778850  16.909772  0.517231  20.260196  31.530313
1990   8.866001  13.782999  17.104861  0.557468  19.975177  31.646824
1991   8.843124  13.799962  17.468802  0.572787  20.025832  30.736629
1992   8.871649  13.964152  18.180541  0.589749  20.440742  29.826916
1993   9.458977  14.972198  19.820037  0.649012  21.604975  29.880762
1994  10.206524  15.558439  20.354224  0.647168  21.873036  29.374118
1995  10.815700  15.799069  20.680067  0.694642  22.081600  28.782266
1996  10.621069  15.297582  20.062926  0.641034  21.703078  27.277649
1997  10.238735  14.441251  18.860536  0.621438  21.174319  27.032258
1998  10.389155  14.570732  19.142281  0.687502  21.920877  27.274931
1999  10.378433  14.395948  19.237915  0.667226  21.637317  25.864356
2000  10.345115  14.128904  19.089467  0.672144  20.886300  25.049888
2001  10.338763  14.158726  19.272226  0.710847  20.564489  24.356935
2002  10.050599  14.022618  18.799095  0.685304  20.226312  24.272367
2003   9.795312  13.830584  18.581626  0.626348  20.011260  24.175968
2004   9.883074  13.651497  18.160402  0.678642  19.104663  23.534521
2005   9.635573  13.454192  17.440227  0.670967  18.797624  23.132565
2006   9.155840  12.603366  16.221823  0.619419  17.790258  22.270991
2007   9.059154  12.720703  15.795193  0.594460  17.433539  22.236734
2008   9.313341  12.689727  15.966417  0.588016  17.372336  21.986820
2009   8.876383  12.387622  15.730026  0.618333  17.054186  20.933857
2010   8.626906  11.954054  15.049692  0.592934  16.547865  20.751383
2011   8.822589  11.944701  14.773439  0.638920  16.136756  20.642171
2012   8.907851  12.071456  14.772592  0.644874  15.999431  20.639505
2013   8.413749  11.739850  14.575592  0.673440  15.810103  20.174711
2014   8.379473  11.745694  14.260052  0.703805  15.440629  20.198257
2015   8.346640  11.501514  13.818191  0.681570  15.113683  19.830284

In [15]:
final_age_df.to_csv('reformatted_age_time.csv')

In [26]:
# check data
print(final_df.isnull().sum())
print('-')
print(final_sex_df.isnull().sum())
print('-')
print(final_age_df.isnull().sum())

africa      0
americas    0
asia        0
europe      0
oceania     0
dtype: int64
-
sex
Female    0
Male      0
dtype: int64
-
age
15-24    0
25-34    0
35-54    0
5-14     0
55-74    0
75+      0
dtype: int64

### Temperature Data Reformatting

In [2]:
lithuania_temp_df = pd.read_csv("lithuania_1901_2016.csv")
russia_temp_df = pd.read_csv("russia_1901_2016.csv")
finland_temp_df = pd.read_csv("finland_1901_2016.csv")
france_temp_df = pd.read_csv("france_1901_2016.csv")
thailand_temp_df = pd.read_csv("thailand_1901_2016.csv")
south_africa_temp_df = pd.read_csv("south_africa_1901_2016.csv")

In [3]:
# check the index of year 1984 (which is 1007 cuz each year has 12 data (12 months))
lithuania_temp_df.index[lithuania_temp_df[' Year'] == 1984].tolist()

[996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007]

In [4]:
# check columns' names
lithuania_temp_df.columns

Index(['Temperature - (Celsius)', ' Year', ' Month', ' Country', ' ISO3'], dtype='object')

In [5]:
# create a function for get the wanted data
def reformat_temp_data(dataframe):
    # rename the columns
    dataframe.columns = ['temperature(Celsius)', 'year', 'month', 'country', 'iso3']
    
    # keep the data from 1985 - 2016
    dataframe = dataframe[1008:]
    
    # drop the unused columns
    dataframe = dataframe.drop(['month', 'iso3'], axis=1)

    # get the average temperature each year per country
    dataframe = dataframe.groupby(['year', 'country']).mean()
    
    return dataframe

In [6]:
lithuania_final_df = reformat_temp_data(lithuania_temp_df)
finland_final_df = reformat_temp_data(finland_temp_df)
russia_final_df = reformat_temp_data(russia_temp_df)
france_final_df = reformat_temp_data(france_temp_df)
thailand_final_df = reformat_temp_data(thailand_temp_df)
south_africa_final_df = reformat_temp_data(south_africa_temp_df)

In [7]:
# concatenate
df = pd.concat([lithuania_final_df, finland_final_df, 
                russia_final_df, france_final_df, 
                thailand_final_df, south_africa_final_df])
df.to_csv('temp.csv')

### Rainfall Data Reformatting

In [8]:
lithuania_rain_df = pd.read_csv("lithuania_rain_1901_2016.csv")
russia_rain_df = pd.read_csv("russia_rain_1901_2016.csv")
finland_rain_df = pd.read_csv("finland_rain_1901_2016.csv")
france_rain_df = pd.read_csv("france_rain_1901_2016.csv")
thailand_rain_df = pd.read_csv("thailand_rain_1901_2016.csv")
south_africa_rain_df = pd.read_csv("south_africa_rain_1901_2016.csv")

In [10]:
# check the index of year 1984 (which is 1007 cuz each year has 12 data (12 months))
lithuania_rain_df.index[lithuania_rain_df[' Year'] == 1984].tolist()

[996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007]

In [11]:
# check columns' names
lithuania_rain_df.columns

Index(['Rainfall - (MM)', ' Year', ' Month', ' Country', ' ISO3'], dtype='object')

In [12]:
# create a function for get the wanted data
def reformat_rain_data(dataframe):
    # rename the columns
    dataframe.columns = ['rainfall(MM)', 'year', 'month', 'country', 'iso3']
    
    # keep the data from 1985 - 2016
    dataframe = dataframe[1008:]
    
    # drop the unused columns
    dataframe = dataframe.drop(['month', 'iso3'], axis=1)

    # get the average temperature each year per country
    dataframe = dataframe.groupby(['year', 'country']).mean()
    
    return dataframe

In [13]:
lithuania_rain_final_df = reformat_rain_data(lithuania_rain_df)
finland_rain_final_df = reformat_rain_data(finland_rain_df)
russia_rain_final_df = reformat_rain_data(russia_rain_df)
france_rain_final_df = reformat_rain_data(france_rain_df)
thailand_rain_final_df = reformat_rain_data(thailand_rain_df)
south_africa_rain_final_df = reformat_rain_data(south_africa_rain_df)

In [14]:
# concatenate
rain_df = pd.concat([lithuania_rain_final_df, finland_rain_final_df, 
                russia_rain_final_df, france_rain_final_df, 
                thailand_rain_final_df, south_africa_rain_final_df])
rain_df.to_csv('rain.csv')